<div class="container mx-auto px-4 py-4">
  <nav class="flex items-center justify-between p-4 m-4 rounded-md" style="margin-bottom: 2rem;">
      <div class="flex items-center text-xl font-medium px-4">
          <i class="pi pi-users mr-2"></i>Attendees
      </div>
  </nav>

  <div class="font-[sans-serif] overflow-x-auto mt-6">
      <table class="min-w-full bg-white relative">
          <thead class="bg-indigo-800 text-white">
              <tr>
                  <th class="pl-4 w-8 text-center">
                      <input id="checkbox" type="checkbox" class="hidden peer" />
                      <label for="checkbox"
                          class="relative flex items-center justify-center p-0.5 peer-checked:before:hidden before:block before:absolute before:w-full before:h-full before:bg-white w-5 h-5 cursor-pointer bg-indigo-700 border border-gray-400 rounded overflow-hidden">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-full fill-white" viewBox="0 0 520 520">
                              <path
                                  d="M79.423 240.755a47.529 47.529 0 0 0-36.737 77.522l120.73 147.894a43.136 43.136 0 0 0 36.066 16.009c14.654-.787 27.884-8.626 36.319-21.515L486.588 56.773a6.13 6.13 0 0 1 .128-.2c2.353-3.613 1.59-10.773-3.267-15.271a13.321 13.321 0 0 0-19.362 1.343q-.135.166-.278.327L210.887 328.736a10.961 10.961 0 0 1-15.585.843l-83.94-76.386a47.319 47.319 0 0 0-31.939-12.438z"
                                  data-name="7-Check" data-original="#000000" />
                          </svg>
                      </label>
                  </th>
                  <th class="p-4 text-center text-sm font-semibold">
                      <i class="pi pi-image mr-1"></i>Profile
                  </th>
                  <th class="p-4 text-center text-sm font-semibold">
                      <i class="pi pi-user mr-1"></i>Name
                  </th>
                  <th class="p-4 text-center text-sm font-semibold">
                      <i class="pi pi-envelope mr-1"></i>Email
                  </th>
                  <th class="p-4 text-center text-sm font-semibold">
                      <i class="pi pi-phone mr-1"></i>Contact
                  </th>
                  <th class="p-4 text-center text-sm font-semibold">
                      <i class="pi pi-ticket mr-1"></i>Tickets
                  </th>
              </tr>
          </thead>

          <tbody class="whitespace-nowrap">
              <tr *ngFor="let attendee of attendees" class="odd:bg-blue-50 group relative" (mouseenter)="showPopover(attendee.id)" (mouseleave)="hidePopover(attendee.id)">
                  <td class="pl-4 w-8 text-center">
                      <input [id]="'checkbox' + attendee.id" type="checkbox" class="hidden peer" />
                      <label [for]="'checkbox' + attendee.id"
                          class="relative flex items-center justify-center p-0.5 peer-checked:before:hidden before:block before:absolute before:w-full before:h-full before:bg-white w-5 h-5 cursor-pointer bg-indigo-700 border border-gray-400 rounded overflow-hidden">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-full fill-white" viewBox="0 0 520 520">
                              <path
                                  d="M79.423 240.755a47.529 47.529 0 0 0-36.737 77.522l120.73 147.894a43.136 43.136 0 0 0 36.066 16.009c14.654-.787 27.884-8.626 36.319-21.515L486.588 56.773a6.13 6.13 0 0 1 .128-.2c2.353-3.613 1.59-10.773-3.267-15.271a13.321 13.321 0 0 0-19.362 1.343q-.135.166-.278.327L210.887 328.736a10.961 10.961 0 0 1-15.585.843l-83.94-76.386a47.319 47.319 0 0 0-31.939-12.438z"
                                  data-name="7-Check" data-original="#000000" />
                          </svg>
                      </label>
                  </td>
                  <td class="p-4 text-center text-sm relative">
                      <div class="flex items-center cursor-pointer w-max mx-auto">
                          <img [src]="attendee.profileImage" class="w-9 h-9 rounded-full shrink-0" />
                      </div>
                      <!-- Popover -->
                      <div [id]="'popover-attendee-' + attendee.id" role="tooltip" class="absolute z-20 hidden text-sm text-gray-500 bg-gray-50 border border-gray-200 rounded-lg shadow-sm w-80 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600" style="top: -120px;">
                          <div class="p-3">
                              <div class="flex">
                                  <div class="me-3 shrink-0">
                                      <a href="#" class="block p-2 bg-gray-100 rounded-lg dark:bg-gray-700">
                                          <img class="w-8 h-8 rounded-full" [src]="attendee.profileImage" alt="Profile Image">
                                      </a>
                                  </div>
                                  <div>
                                      <p class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white">
                                          {{ attendee.name }}
                                      </p>
                                      <p class="mb-3 text-sm font-normal">
                                          {{ attendee.email }}
                                      </p>
                                      <p class="mb-4 text-sm">{{ attendee.contact }}</p>
                                      <ul class="text-sm">
                                          <li class="flex items-center mb-2">
                                              <span class="me-2 font-semibold text-gray-400">
                                                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 20">
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.487 1.746c0 4.192 3.592 1.66 4.592 5.754 0 .828 1 1.5 2 1.5s2-.672 2-1.5a1.5 1.5 0 0 1 1.5-1.5h1.5m-16.02.471c4.02 2.248 1.776 4.216 4.878 5.645C10.18 13.61 9 19 9 19m9.366-6h-2.287a3 3 0 0 0-3 3v2m6-8a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                  </svg>
                                              </span>
                                              <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">{{ attendee.event.name }}</a>
                                          </li>
                                          <li class="flex items-start mb-2">
                                              <span class="me-2 font-semibold text-gray-400">
                                                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                                      <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"/>
                                                  </svg>
                                              </span>
                                              <span class="-mt-1">{{ attendee.event.ticketType }} Ticket</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div data-popper-arrow></div>
                      </div>
                  </td>
                  <td class="p-4 text-center text-sm text-black">
                      {{ attendee.name }}
                  </td>
                  <td class="p-4 text-center text-sm text-black">
                      {{ attendee.email }}
                  </td>
                  <td class="p-4 text-center text-sm text-black">
                      {{ attendee.contact }}
                  </td>
                  <td class="p-4 text-center text-sm text-black">
                      ${{ attendee.ticketPrice }}
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Paginator -->
  <div class="flex justify-end mt-4">
      <ul class="flex space-x-4">
          <li class="flex items-center justify-center shrink-0 bg-gray-300 w-10 h-10 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-400" viewBox="0 0 55.753 55.753">
                  <path
                      d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1-1.572-3.911z"
                      data-original="#000000" />
              </svg>
          </li>
          <li
              class="flex items-center justify-center shrink-0 bg-indigo-700  border-2 border-indigo-700 cursor-pointer text-base font-bold text-white w-10 h-10 rounded-full">
              1
          </li>
          <li
              class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
              2
          </li>
          <li
              class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
              3
          </li>
          <li class="flex items-center justify-center shrink-0 hover:bg-gray-50 border-2 cursor-pointer w-10 h-10 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-400 rotate-180" viewBox="0 0 55.753 55.753">
                  <path
                      d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1-1.572-3.911z"
                      data-original="#000000" />
              </svg>
          </li>
      </ul>
  </div>
</div>