  <div class="container mx-auto px-4 py-4">
    <!-- Navbar -->
    <nav class="flex items-center justify-between p-4 m-4 rounded-md">
      <div class="flex items-center text-xl font-medium px-4">
        <i class="pi pi-check-square mr-2"></i>Bookings
      </div>
    </nav>
  
    <!-- Booking Table -->
    <div class="font-[sans-serif] overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-indigo-700 text-white">
          <tr>
            <th class="p-4 text-center text-sm font-semibold">
              <i class="pi pi-calendar mr-1"></i>Event Name
            </th>
            <th class="p-4 text-center text-sm font-semibold">
              <i class="pi pi-users mr-1"></i>Number of Bookings
            </th>
            <th class="p-4 text-center text-sm font-semibold">
              <i class="pi pi-wallet mr-1"></i>Regular Tickets
            </th>
            <th class="p-4 text-center text-sm font-semibold">
              <i class="pi pi-wallet mr-1"></i>VIP Tickets
            </th>
          </tr>
        </thead>
  
        <tbody class="whitespace-nowrap divide-y divide-gray-200">
          <tr *ngFor="let booking of bookings" class="odd:bg-blue-50">
            <td class="p-4 text-center text-sm text-black">{{ booking.eventName }}</td>
            <td class="p-4 text-center text-sm text-black">{{ booking.numBookings }}</td>
            <td class="p-4 text-center text-sm text-black">${{ booking.regularTicketsRevenue }}</td>
            <td class="p-4 text-center text-sm text-black">${{ booking.vipTicketsRevenue }}</td>
          </tr>
        </tbody>
  
        <tfoot class="bg-indigo-100 text-slate-900">
          <tr>
            <td colspan="2" class="p-4 text-right text-sm font-semibold">Total Revenue:</td>
            <td class="p-4 text-center text-sm">${{ getTotalRegularRevenue() }}</td>
            <td class="p-4 text-center text-sm">${{ getTotalVipRevenue() }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  
    <!-- Paginator -->
    <div class="flex justify-end mt-4">
      <ul class="flex space-x-4">
        <li class="flex items-center justify-center shrink-0 bg-gray-300 w-10 h-10 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-400" viewBox="0 0 55.753 55.753">
            <path
              d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
              data-original="#000000" />
          </svg>
        </li>
        <li class="flex items-center justify-center shrink-0 bg-indigo-700 border-2 border-indigo-700 cursor-pointer text-base font-bold text-white w-10 h-10 rounded-full">
          1
        </li>
        <li class="flex items-center justify-center shrink-0 hover:bg-gray-50 border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
          2
        </li>
        <li class="flex items-center justify-center shrink-0 hover:bg-gray-50 border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
          3
        </li>
        <li class="flex items-center justify-center shrink-0 hover:bg-gray-50 border-2 cursor-pointer w-10 h-10 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-400 rotate-180" viewBox="0 0 55.753 55.753">
            <path
              d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
              data-original="#000000" />
          </svg>
        </li>
      </ul>
    </div>
  </div>  