<nav class="flex items-center justify-between p-4 shadow-md m-4 rounded-md bg-white">
  <div class="flex items-center w-full max-w-lg relative">
    <input type="text" placeholder="Search..." class="pl-12 py-2 rounded-2xl border border-gray-300 flex-grow">
    <i class="pi pi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500 text-xl"></i>
  </div>
  <div class="flex items-center space-x-6">
    <div class="relative">
      <img [src]="profile?.imageUrl || 'assets/profile.png'" alt="Profile" class="w-12 h-12 rounded-full cursor-pointer" (mouseover)="showDropdown = true" (mouseleave)="showDropdown = false">
        </div>
      </div>
</nav>