table {
    max-width: 80%;
    margin: 0 auto;
}

table {
    max-width: 80%;
    margin: 0 auto;
}


img {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    border-radius: 0.375rem;
}

@keyframes ping {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  
  