<div class="container mx-auto px-1 py-1">
    <!-- Navbar -->
  
    <div class="w-full h-full flex flex-col items-center">
      <div class="grid pb-11 w-2/3">
        <div class="flex gap-2.5 mb-4">
          <img src="assets/oig.png" alt="Shanay image" class="w-10 h-11">
          <div class="grid">
            <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">Support</h5>
            <div class="w-max grid">
              <div class="px-3.5 py-2 bg-gray-100 rounded justify-start items-center gap-3 inline-flex">
                <h5 class="text-gray-900 text-sm font-normal leading-snug">There has been a problem with your latest event approval.</h5>
              </div>
              <div class="justify-end items-center inline-flex mb-2.5">
                <h6 class="text-gray-500 text-xs font-normal leading-4 py-1">05:14 PM</h6>
              </div>
            </div>
            <div class="w-max grid">
              <div class="px-3.5 py-2 bg-gray-100 rounded justify-start items-center gap-3 inline-flex">
                <h5 class="text-gray-900 text-sm font-normal leading-snug">My team believes that the event banner violates cultural ethics.</h5>
              </div>
              <div class="justify-end items-center inline-flex mb-2.5">
                <h6 class="text-gray-500 text-xs font-normal leading-4 py-1">05:14 PM</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="flex gap-2.5 justify-end pb-40 w-2/3">
        <div>
          <div class="grid mb-2">
            <h5 class="text-right text-gray-900 text-sm font-semibold leading-snug pb-1">You</h5>
            <div class="px-3 py-2 bg-indigo-600 rounded">
              <h2 class="text-white text-sm font-normal leading-snug">I sent a request back to the hosts on the issue, meanwhile I will take full responsibility</h2>
            </div>
            <div class="justify-start items-center inline-flex">
              <h3 class="text-gray-500 text-xs font-normal leading-4 py-1">05:14 PM</h3>
            </div>
          </div>
          <div class="justify-center">
            <div class="grid w-fit ml-auto">
              <div class="px-3 py-2 bg-indigo-600 rounded ">
                <h2 class="text-white text-sm font-normal leading-snug">I want to assure you that this will not recur</h2>
              </div>
              <div class="justify-start items-center inline-flex">
                <h3 class="text-gray-500 text-xs font-normal leading-4 py-1">You</h3>
              </div>
            </div>
          </div>
        </div>
        <img src="assets/profile.png" alt="Hailey image" class="w-10 h-11">
      </div>
  
      <div class="w-full pl-3 pr-1 py-1 rounded-3xl border border-gray-200 items-center gap-2 inline-flex justify-between">
        <div class="flex items-center gap-2">
          <i class="pi pi-user-circle text-indigo-600" style="font-size: 1.4rem;"></i>
          <input class="grow shrink basis-0 text-black text-xs font-medium leading-4 focus:outline-none" placeholder="Type here...">
        </div>
        <div class="flex items-center gap-2">
          <i class="pi pi-paperclip cursor-pointer" style="font-size: 1.4rem;"></i>
          <button class="items-center flex px-3 py-2 bg-indigo-600 rounded-full shadow">
            <i class="pi pi-send text-white" style="font-size: 1.2rem;"></i>
            <h3 class="text-white text-xs font-semibold leading-4 px-2">Send</h3>
          </button>
        </div>
      </div>
    </div>
  </div>  