<div class="container mx-auto px-4 py-10 mt-32">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto bg-white p-10 rounded-lg shadow-lg">
      <div class="mb-6">
        <label for="resetCode" class="block text-gray-700 font-semibold mb-2">Reset Code</label>
        <div class="relative">
          <input formControlName="resetCode" type="text" id="resetCode" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Enter your reset code">
          <i class="pi pi-key absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        </div>
      </div>
      <div class="mb-6">
        <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
        <div class="relative">
          <input formControlName="email" type="email" id="email" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Enter your email">
          <i class="pi pi-envelope absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        </div>
      </div>
      <div class="mb-6">
        <label for="newPassword" class="block text-gray-700 font-semibold mb-2">New Password</label>
        <div class="relative">
          <input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" id="newPassword" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Enter your new password">
          <i class="pi" [ngClass]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="togglePasswordVisibility()" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer"></i>
        </div>
      </div>
      <div *ngIf="isLoading" class="text-center mb-4">
        <i class="pi pi-spin pi-spinner text-4xl text-indigo-700"></i>
      </div>
      <div *ngIf="message" [ngClass]="messageType === 'success' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'" class="flex items-start max-sm:flex-col p-4 rounded-lg relative mb-4" role="alert">
        <div class="flex items-center max-sm:mb-2">
          <i class="pi" [ngClass]="messageType === 'success' ? 'pi-check-circle' : 'pi-exclamation-circle'" class="inline mr-3 text-2xl" [ngClass]="messageType === 'success' ? 'text-green-500' : 'text-red-500'"></i>
          <strong class="font-bold text-sm">{{ messageType === 'success' ? 'Success!' : 'Error!' }}</strong>
        </div>
        <span class="block sm:inline text-sm ml-4 mr-8 max-sm:ml-0 max-sm:mt-2">{{ message }}</span>
        <i class="pi pi-times w-7 hover:bg-gray-200 rounded-lg transition-all p-2 cursor-pointer absolute right-4 top-1/2 -translate-y-1/2" (click)="clearMessage()"></i>
      </div>
      <div class="text-center">
        <button type="submit" class="bg-indigo-700 text-white px-6 py-2 rounded-lg hover:bg-indigo-800 transition-colors duration-200" [disabled]="isLoading">
          {{ isLoading ? 'Sending...' : 'Reset Password' }}
        </button>
      </div>
      <div class="text-center mt-8">
        <a routerLink="/" class="bg-indigo-700 text-white px-4 py-2 rounded-lg hover:bg-indigo-800 transition-colors duration-200 inline-flex items-center">
          <i class="pi pi-arrow-circle-left mr-2"></i> Back
        </a>
      </div>
    </form>
    
  </div>  