<!-- <div class="h-full bg-slate-950 text-white flex flex-col">
    <div class="p-4 flex items-center">
      <img src="assets/oig.png" alt="Logo" class="w-12">
      <h1 class="text-xl font-extrabold ml-1">Plana</h1>
    </div>
    
    <nav class="flex-grow mt-4">
      <ul class="space-y-2">
        <li>
          <a routerLink="dashboard" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-tags" style="font-size: 1.5rem;"></i>
            <span class="ml-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="events" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-calendar-clock" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Events</span>
          </a>
        </li>
        <li>
          <a routerLink="bookings" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-check-square" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Bookings</span>
          </a>
        </li>
        <li>
          <a routerLink="tickets" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-wallet" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Tickets</span>
          </a>
        </li>
        <li>
          <a routerLink="inbox" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-inbox" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
          </a>
        </li>
        <li>
          <a routerLink="attendees" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-users" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Attendees</span>
          </a>
        </li>
        <li>
          <a routerLink="settings" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-spin pi-cog" style="font-size: 1.5rem; "></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="p-4">
      <ul class="space-y-2">
        <li>
          <a class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-question-circle" style="font-size: 1.5rem; padding-right: 10px;"></i>
            <span class="ml-3">Help</span>
          </a>
        </li>
        <li>
          <a routerLink="/" (click)="logout()" class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-sign-out" style="font-size: 1.5rem; padding-right: 10px;"></i>
            <span class="ml-3">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>   -->

  <div class="h-full bg-slate-950 text-white flex flex-col">
    <div class="p-4 flex items-center">
      <img src="assets/oig.png" alt="Logo" class="w-12">
      <h1 class="text-xl font-extrabold ml-1">Plana</h1>
    </div>
    
    <nav class="flex-grow mt-4">
      <ul class="space-y-2">
        <li>
          <a routerLink="dashboard" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-tags" style="font-size: 1.5rem;"></i>
            <span class="ml-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="events" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-calendar-clock" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Events</span>
          </a>
        </li>
        <li>
          <a routerLink="bookings" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-check-square" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Bookings</span>
          </a>
        </li>
        <li>
          <a routerLink="tickets" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-wallet" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Tickets</span>
          </a>
        </li>
        <li>
          <a routerLink="inbox" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-inbox" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
          </a>
        </li>
        <li>
          <a routerLink="attendees" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-users" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Attendees</span>
          </a>
        </li>
        <li>
          <a routerLink="settings" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-spin pi-cog" style="font-size: 1.5rem;"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="p-4">
      <ul class="space-y-2">
        <li>
          <a class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-question-circle" style="font-size: 1.5rem; padding-right: 10px;"></i>
            <span class="ml-3">Help</span>
          </a>
        </li>
        <li>
          <a routerLink="/" (click)="logout()" class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-700 hover:text-white group mx-2">
            <i class="pi pi-sign-out" style="font-size: 1.5rem; padding-right: 10px;"></i>
            <span class="ml-3">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  