<!-- Footer Start Here  -->
<footer class="bg-slate-950 md:pt-8 md:pb-8">
  <!-- Support Section Start Here -->
  <div class="py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div class="flex flex-col items-center justify-between gap-4 rounded-lg bg-slate-100 p-4 sm:flex-row md:p-8">
        <div>
          <h2 class="text-xl font-bold text-indigo-500 md:text-2xl text-center md:text-left">Any Question?</h2>
          <p class="text-gray-600">Feel free to get in touch with us.</p>
        </div>
        <a href="javascript:void(0)" (click)="toggleModal()" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Contact Us</a>
      </div>
    </div>
  </div>
  <!-- Support Section Ends Here -->
  <div class="pt-12 lg:pt-16">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-16">
      <div class="mb-16 grid grid-cols-2 gap-12 md:grid-cols-4 lg:gap-8">
        <div class="col-span-full lg:col-span-2">
          <!-- logo - start -->
          <div class="mb-4 lg:-mt-2">
            <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-white dark:text-white md:text-2xl">
              <img src="assets/logo.png" class="mr-1 h-14" alt="Manage Events Logo" />
              Plana
            </a>
          </div>
          <!-- logo - end -->
          <p class="mb-6 text-gray-400 sm:pr-8">Discover The Most Happening Events Around You</p>
          <!-- social - start -->
          <div class="flex gap-4">
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="pi pi-facebook h-5 w-5"></i>
            </a>
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="pi pi-twitter h-5 w-5"></i>
            </a>
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="pi pi-instagram h-5 w-5"></i>
            </a>
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="pi pi-github h-5 w-5"></i>
            </a>
          </div>
          <!-- social - end -->
        </div>
        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-gray-300">Support</div>
          <nav class="flex flex-col gap-4">
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">About Us</a>
            </div>
            <div>
              <a href="javascript:void(0)" (click)="toggleModal()" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Contact Us</a>
            </div>
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Chat</a>
            </div>
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">FAQ</a>
            </div>
          </nav>
        </div>
        <!-- nav - end -->
        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-gray-300">Legal</div>
          <nav class="flex flex-col gap-4">
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Terms of Service</a>
            </div>
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Privacy Policy</a>
            </div>
            <div>
              <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Cookie settings</a>
            </div>
          </nav>
        </div>
        <!-- nav - end -->
      </div>
      <div class="border-t py-8 text-center text-sm text-gray-400">© 2023 - Present Plana. All rights reserved.</div>
    </div>
  </div>
</footer>
<!-- Footer Ends Here -->


<!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50 modal-enter-active">
  <div class="relative bg-white p-3 rounded-lg max-w-4xl max-h-screen-60 overflow-y-auto mx-auto">
    <button (click)="toggleModal()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
      <i class="pi pi-times h-6 w-6 font-extrabold text-indigo-600"></i>
    </button>
    <div class="text-center px-6">
      <h2 class="text-gray-800 text-3xl font-extrabold">Contact Us</h2>
      <!-- <p class="text-sm text-gray-500 mt-4">Have some big idea of an event and need help?</p> -->
    </div>
    <div class="grid lg:grid-cols-3 items-start gap-4 p-1 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-lg mt-12">
      <div class="bg-slate-950 rounded-lg p-2 h-full max-lg:order-1">
        <h2 class="text-xl text-white">Contact Information</h2>
        <p class="text-sm text-gray-300 mt-4">Have some big idea of an event and need help?</p>
        <ul class="mt-16 space-y-8">
          <li class="flex items-center">
            <i class="pi pi-envelope h-4 w-4 text-white"></i>
            <a href="javascript:void(0)" class="text-white text-sm ml-4">info&#64;example.com</a>
          </li>
          <li class="flex items-center">
            <i class="pi pi-phone h-4 w-4 text-white"></i>
            <a href="javascript:void(0)" class="text-sm text-white ml-4">+158 996 888</a>
          </li>
          <li class="flex items-center">
            <i class="pi pi-map-marker h-4 w-4 text-white"></i>
            <a href="javascript:void(0)" class=" text-sm text-white ml-4">123 Street 256 House</a>
          </li>
        </ul>
      </div>
      <div class="p-4 lg:col-span-2">
        <form>
          <div class="grid sm:grid-cols-2 gap-8">
            <div class="relative flex items-center">
              <input type="text" placeholder="First Name" class="px-2 py-1 bg-white w-full text-sm text-gray-800 border-b border-gray-300 focus:text-indigo-600 outline-none" />
              <i class="pi pi-user h-4 w-4 text-gray-400 absolute right-2"></i>
            </div>
            <div class="relative flex items-center">
              <input type="text" placeholder="Last Name" class="px-2 py-1 bg-white w-full text-sm text-gray-800 border-b border-gray-300 focus:text-indigo-600 outline-none" />
              <i class="pi pi-user h-4 w-4 text-gray-400 absolute right-2"></i>
            </div>
            <div class="relative flex items-center">
              <input type="number" placeholder="Phone No." class="px-2 py-1 bg-white w-full text-sm text-gray-800 border-b border-gray-300 focus:text-indigo-600 outline-none" />
              <i class="pi pi-phone h-4 w-4 text-gray-400 absolute right-2"></i>
            </div>
            <div class="relative flex items-center">
              <input type="email" placeholder="Email" class="px-2 py-1 bg-white w-full text-sm text-gray-800 border-b border-gray-300 focus:text-indigo-600 outline-none" />
              <i class="pi pi-envelope h-4 w-4 text-gray-400 absolute right-2"></i>
            </div>
            <div class="relative flex items-center sm:col-span-2">
              <textarea placeholder="Write Message" class="px-2 pt-1 bg-white  w-full text-sm text-gray-800 border-b border-gray-300 focus:text-indigo-600 outline-none"></textarea>
              <i class="pi pi-envelope h-4 w-4 text-gray-400 absolute right-2"></i>
            </div>
            <div class="col-span-full">
              <h6 class="text-sm text-gray-800">Select Subject</h6>
              <div class="flex max-lg:flex-col gap-6 mt-4">
                <div class="flex items-center">
                  <input id="radio1" type="radio" name="value1" class="hidden peer" checked />
                  <label for="radio1" class="relative p-0.5 flex items-center justify-center shrink-0 peer-checked:before:hidden before:block before:absolute before:w-full before:h-full before:bg-white w-5 h-5 cursor-pointer border-2 border-[#011c2b] rounded-full overflow-hidden">
                    <span class="border-[4px] border-[#011c2b] rounded-full w-full h-full"></span>
                  </label>
                  <p class="text-sm text-gray-500 ml-4">General Inquiry</p>
                </div>
                <div class="flex items-center">
                  <input id="radio2" type="radio" name="value1" class="hidden peer" />
                  <label for="radio2" class="relative p-0.5 flex items-center justify-center shrink-0 peer-checked:before:hidden before:block before:absolute before:w-full before:h-full before:bg-white w-5 h-5 cursor-pointer border-2 border-[#011c2b] rounded-full overflow-hidden">
                    <span class="border-[4px] border-[#011c2b] rounded-full w-full h-full"></span>
                  </label>
                  <p class="text-sm text-gray-500 ml-4">Technical Support</p>
                </div>
                <div class="flex items-center">
                  <input id="radio3" type="radio" name="value1" class="hidden peer" />
                  <label for="radio3" class="relative p-0.5 flex items-center justify-center shrink-0 peer-checked:before:hidden before:block before:absolute before:w-full before:h-full before:bg-white w-5 h-5 cursor-pointer border-2 border-[#011c2b] rounded-full overflow-hidden">
                    <span class="border-[4px] border-[#011c2b] rounded-full w-full h-full"></span>
                  </label>
                  <p class="text-sm text-gray-500 ml-4">Platform Feedback</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="mt-12 flex items-center justify-center text-sm lg:ml-auto max-lg:w-full rounded-lg px-4 py-3 tracking-wide text-white bg-indigo-600 hover:bg-indigo-500">
            <i class="pi pi-send mr-2"></i>
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>