<div class="mb-12">
    <app-navbar></app-navbar>
  </div>
  <div class="container mx-auto px-4 py-10 mt-32">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Reset Password</h2>
    <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto bg-white p-10 rounded-lg shadow-lg">
      <div class="mb-8 text-center">
        <i class="pi pi-lock text-indigo-700 text-3xl mb-4"></i>
        <p class="text-gray-600">Enter your email address to receive a password reset link.</p>
      </div>
      <div class="mb-6">
        <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
        <div class="relative">
          <input formControlName="email" type="email" id="email" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Enter your email">
          <i class="pi pi-envelope absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        </div>
        <div *ngIf="resetPasswordRequestForm.get('email')?.touched && resetPasswordRequestForm.get('email')?.invalid" class="text-red-600 text-sm mt-1">
          <div *ngIf="resetPasswordRequestForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="resetPasswordRequestForm.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div *ngIf="isLoading" class="text-center mb-4">
        <i class="pi pi-spin pi-spinner text-4xl text-indigo-700"></i>
      </div>
      <div *ngIf="message" class="text-center text-green-500 mb-4">{{ message }}</div>
      <div class="text-center">
        <button type="submit" class="bg-indigo-700 text-white px-6 py-2 rounded-lg hover:bg-indigo-800 transition-colors duration-200" [disabled]="isLoading">
            <i class="pi pi-send"></i> {{ isLoading ? 'Sending...' : 'Send' }}
        </button>
      </div>
    </form>
  </div>  